# Configurações do MongoDB Atlas
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/?retryWrites=true&w=majority
DB_NAME=licitamei_db
COLLECTION_NAME=oportunidades

# Configurações do SQLite
SQLITE_DB=licitacoes_mei.db

# Configurações da OpenAI (Para o Chatbot MCP)
OPENAI_API_KEY=sk-sua-chave-aqui
