# Ambientes Virtuais (Virtual Environments)
venv/
.venv/
.env/
.env
env/

# Bancos de dados locais antigos (O licitacoes_mei.db vai ser comitado para o Chatbot funcionar direto)
universities.db
# *.db

# Outputs do Spark e Dashboards
output_spark_licitacoes/
*.png

# Arquivos cacheados do Python
__pycache__/
*.py[cod]
*$py.class
