# Configurações do MongoDB Atlas
MONGODB_URI="mongodb+srv://<usuario>:<senha>@<cluster>.mongodb.net/?retryWrites=true&w=majority"
MONGODB_DATABASE="pncp_db"
MONGODB_COLLECTION="contratacoes"

# Configurações da API PNCP
PNCP_API_BASE_URL="https://pncp.gov.br/api/pncp/v1"
